<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Kargologic</div>
      <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action bg-light" [routerLink]="['all-customer']" >All</a>
        <a class="list-group-item list-group-item-action bg-light" >Unassigned</a>
        <a class="list-group-item list-group-item-action bg-light" >pending</a>
        <a class="list-group-item list-group-item-action bg-light" >in-progress</a>
        <a class="list-group-item list-group-item-action bg-light" >delivered</a>
        <a class="list-group-item list-group-item-action bg-light" >cancelled</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light padding-bottom">
        <div class="uk-flex-inline uk-width-1-1 uk-flex-between">
          <div>
          </div>
          <div class="uk-flex-inline">
            <p>
              <i class="fa fa-plus-circle show-pointer" aria-hidden="true"></i>
            </p>
            <p class="uk-margin-small-left">
              <i class="fa fa-bell-o show-pointer" aria-hidden="true"></i>
            </p>
            <p class="uk-text-capitalize uk-margin-small-left">
              hi david
            </p>
          </div>
        </div>
      </nav>

      <router-outlet></router-outlet>
    </div>

    <!-- /#page-content-wrapper -->

  </div>
</body>
