<div class="uk-padding-small">
  <table class="uk-table uk-table-hover uk-table-divider uk-table-middle uk-table-responsive">
    <thead>
      <tr class="TableHead">
        <th >
          <div (click)="jobNoSort = !jobNoSort" class=" {{ jobNoSort ? 'fa fa-sort-asc ' : 'fa fa-sort-desc '  }} show-pointer">
            job no.
          </div>
        </th>

        <th >
          <div (click)="dateSort = !dateSort" class=" {{ dateSort ? 'fa fa-sort-asc ' : 'fa fa-sort-desc '  }} show-pointer">
            date
          </div>
        <th>
          <div (click)="custNameSort = !custNameSort" class=" {{ custNameSort ? 'fa fa-sort-asc ' : 'fa fa-sort-desc '  }} show-pointer">
            customer name
          </div>
        </th>
        <th>
          pick up time
        </th>
        <th>
          delivery time
        </th>
        <th>
          delivery on time (DOT)
        </th>
        <th>
          status
        </th>
      </tr>
    </thead>
    <tbody class="noselect inTable ">
      <tr class="uk-text-center uk-animation-slide-left-small" *ngFor="let cust of customers">
        <td> {{ cust.job_no }} </td>
        <td> {{ cust.date }} </td>
        <td style="text-align: left;"> {{ cust.customer_name }} </td>
        <td> {{ cust.pickup_time }} </td>
        <td> {{ cust.delivery_time }} </td>
        <td> 10%  </td>
        <td> {{ cust.status }} </td>
      </tr>
    </tbody>
  </table>

  <!-- pagination -->
  <div class="card-footer pb-0 pt-3">
    <!-- <jw-pagination [items]="items" (changePage)="onChangePage($event)"></jw-pagination> -->
</div>
  <!-- pagination -->
</div>
